<div  fxLayoutAlign="center">
<mat-card class="example-card" fxFlex="50">
<form [formGroup]="booking_form">
        <div  fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field appearance="standard"  fxFlex="40">
                <mat-label>From</mat-label>
                <input matInput formControlName="city_from" >
                </mat-form-field>
                <mat-form-field appearance="standard"  fxFlex="40">
                        <mat-label>To</mat-label>
                        <input matInput placeholder="please search" formControlName="city" >
                </mat-form-field>
                </div>
                <div  fxLayout="row" fxLayoutAlign="space-between start">
                <mat-form-field appearance="standard"  fxFlex="40">
                        <mat-label>Trip Date</mat-label>
                        <input matInput placeholder="please search" formControlName="tripDate" >
                </mat-form-field>
                <mat-form-field appearance="standard"  fxFlex="40">
                        <mat-label>TimeSlot</mat-label>
                        <input matInput placeholder="please search" formControlName="timeSlot" >
                </mat-form-field>
            
            </div>
             <div  fxLayoutAlign="center">
            <mat-form-field appearance="standard"  fxFlex="40">
                    <mat-label>Distance[in km]</mat-label>
                    <input matInput placeholder="please search" formControlName="distance" >
            </mat-form-field>
             </div>
</form>

</mat-card>
</div>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-around center" class="flex">
<div *ngFor="let item of drivers">
<app-driver-card [item]="item"></app-driver-card>
</div>
</div>
